# Airline Arrival Delays Analysis

In this analysis, we compare the arrival delays between two airlines, ALASKA and AMWEST, across five different destinations.

In [15]:
import pandas as pd

## Data Loading

First, we load the data from the CSV file into a pandas DataFrame.

In [16]:
# Load the data into a pandas DataFrame
df = pd.read_csv('/Users/asiamobley/Downloads/arrival_delays.csv')
df.head()

  Airline   Status  Los Angeles  Phoenix  San Diego  San Francisco  Seattle
0  ALASKA  on time          497      221        212            503     1841
1  ALASKA  delayed           62       12         20            102      305
2  AMWEST  on time          694     4840        383            320      201
3  AMWEST  delayed          117      415         65            129       61

## Total and Delayed Flights

We calculate the total number of flights and the total number of delayed flights for each airline.

In [17]:
total_flights = df[df['Status'] == 'on time'].groupby('Airline')[['Los Angeles', 'Phoenix', 'San Diego', 'San Francisco', 'Seattle']].sum()
total_delayed = df[df['Status'] == 'delayed'].groupby('Airline')[['Los Angeles', 'Phoenix', 'San Diego', 'San Francisco', 'Seattle']].sum()

## Delay Percentage Calculation

Next, we calculate the delay percentage for each airline, which is the number of delayed flights divided by the total flights.

In [18]:
# Calculate the delay percentage
delay_percentage = (total_delayed / total_flights) * 100

## Results

Finally, we present the results of our analysis, showing the total number of flights, total number of delayed flights, and the delay percentage for each airline.

In [19]:
# Display the results
print("Total flights by each airline:\n", total_flights.sum(axis=1))
print("\nTotal delayed flights by each airline:\n", total_delayed.sum(axis=1))
print("\nDelay percentage for each airline:\n", delay_percentage.sum(axis=1))

Total flights by each airline:
 Airline
ALASKA    3274
AMWEST    6438
dtype: int64

Total delayed flights by each airline:
 Airline
ALASKA    501
AMWEST    787
dtype: int64

Delay percentage for each airline:
 Airline
ALASKA     64.184089
AMWEST    113.065208
dtype: float64

## Conclusion

From the analysis, we can conclude the following:

- **Alaska** has a lower percentage of delays across all destinations compared to AMWEST.
- The destination with the highest delay percentage for Alaska is San Francisco, while for AMWEST, it is also San Francisco.
- Despite having a higher total number of flights, AMWEST has a higher proportion of delays compared to Alaska.

This kind of analysis can help in making decisions related to improving airline efficiency and customer satisfaction.