In [1]:
import pandas as pd

# Data Tidying and Transformation
In this section, we will tidy up the untidy dataset provided, reshaping it from a wide format to a long format using pandas.

In [2]:
data = {
    'STUDENT ID': ['001', '002', '003'],
    'MATH GRADE': [90, 75, 88],
    'SCIENCE GRADE': [85, 92, 78],
    'HISTORY GRADE': [88, 80, 85]
}

df = pd.DataFrame(data)

# Tidying up the dataset

In [3]:
tidy_df = pd.melt(df, id_vars='STUDENT ID', var_name='Subject', value_name='Grade')

# Displaying the tidy dataset

In [4]:
print("Tidy Dataset:")
print(tidy_df)

Tidy Dataset:
  STUDENT ID        Subject  Grade
0        001     MATH GRADE     90
1        002     MATH GRADE     75
2        003     MATH GRADE     88
3        001  SCIENCE GRADE     85
4        002  SCIENCE GRADE     92
5        003  SCIENCE GRADE     78
6        001  HISTORY GRADE     88
7        002  HISTORY GRADE     80
8        003  HISTORY GRADE     85

# Analysis
After tidying up the dataset, we will perform analysis on the tidy dataset. This includes calculating summary statistics for each subject, such as mean, median, minimum, and maximum grades.

In [5]:
summary_stats = tidy_df.groupby('Subject')['Grade'].agg(['mean', 'median', 'min', 'max'])

print("\nSummary Statistics:")
print(summary_stats)

Summary Statistics:
                    mean  median  min  max
Subject
HISTORY GRADE  84.333333    85.0   80   88
MATH GRADE     84.333333    88.0   75   90
SCIENCE GRADE  85.000000    85.0   78   92