In [1]:
import pandas as pd

# Employee Information

# Data Tyding and Transformation
In this section, we will tidy up the untidy Employee information dataset provided, reshaping it from a wide format to a long format using pandas.

# Creating the untidy dataset

In [2]:
data = {
    'Employee ID': ['001', '002', '003'],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Department': ['HR', 'IT', 'Sales'],
    'Salary': [50000, 60000, 55000]
}

df = pd.DataFrame(data)

# Analysis
In this section, we will perform analysis on the employee information dataset. This includes calculating the average salary for each department and identifying the employee with the highest salary.

In [3]:
avg_salary_per_department = df.groupby('Department')['Salary'].mean()
highest_salary_employee = df.loc[df['Salary'].idxmax()]

print("\nAverage Salary for Each Department:")
print(avg_salary_per_department)

print("\nEmployee with the Highest Salary:")
print(highest_salary_employee)

Average Salary for Each Department:
Department
HR       50000.0
IT       60000.0
Sales    55000.0
Name: Salary, dtype: float64

Employee with the Highest Salary:
Employee ID      002
Name             Bob
Department        IT
Salary         60000
Name: 1, dtype: object