# Bicycle Trip from New York City to Key West, Florida

## Introduction
In this analysis, we'll examine the cumulative miles ridden on a bicycle trip from New York City to Key West, Florida.

## Data Description
The cumulative miles represent the total distance traveled by the cyclist at the end of each day. The data was collected manually using a paper and pencil odometer.

## Steps
1. Import the necessary libraries.

In [13]:
import pandas as pd

2. Define the cumulative miles data.

In [14]:
cumulative_miles = [55, 120, 175, 240, 305]

3. Create a Pandas Series object to hold the cumulative miles.

In [15]:
miles_series = pd.Series(cumulative_miles)

4. Calculate the total miles ridden each day.

In [16]:
total_miles_each_day = miles_series.diff().fillna(miles_series.iloc[0])

5. Display the results.

In [17]:
print("Cumulative Miles at the End of Each Day:")
print(miles_series)
print("\nTotal Miles Ridden Each Day:")
print(total_miles_each_day)

Cumulative Miles at the End of Each Day:
0     55
1    120
2    175
3    240
4    305
dtype: int64

Total Miles Ridden Each Day:
0    55.0
1    65.0
2    55.0
3    65.0
4    65.0
dtype: float64

## Conclusion
Overall, the bicycle trip from New York City to Key West, Florida was a challenging yet rewarding journey.